version: "3.8"
services:
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"

  backend:
    build: ./backend
    ports:
      - "4000:4000"
    env_file:
      - .env

  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: password
