services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/build:/usr/share/nginx/html
    depends_on:
      - backend
