apiVersion: v1
kind: Pod
metadata:
  name: backend-pod
  labels:
    name: backend
spec:
  containers:
    - name: backend
      image: devops-practice-project-backend:latest
      imagePullPolicy: Never
      ports:
        - containerPort: 5000
