name: Backend CI - QA

on:
  push:
    branches:
      - qa
    paths:
      - backend/**

jobs:
  backend-ci-qa:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend image (QA)
        run: |
          docker build -t karanam08/backend:qa ./backend
          docker push karanam08/backend:qa
