name: Backend CD - Prod

on:
  workflow_run:
    workflows: ["Backend CI - Prod"]
    types:
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG_PROD }}" > $HOME/.kube/config

      - name: Update backend image (PROD)
        run: |
          kubectl set image deployment/backend backend=karanam08/backend:prod -n prod

      - name: Verify rollout
        run: |
          kubectl rollout status deployment/backend -n prod
