name: Frontend CD - Dev

on:
  push:
    branches:
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.29.0

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Update frontend image (DEV)
        run: |
          kubectl set image deployment/frontend frontend=karanam08/frontend:dev -n dev

      - name: Verify rollout
        run: |
          kubectl rollout status deployment/frontend -n dev
