name: Frontend CD - Prod

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: v1.34.1

      - name: Configure kubeconfig
        run: |
          mkdir -p $HOME/.kube
          echo "${{ secrets.KUBECONFIG }}" > $HOME/.kube/config

      - name: Update frontend image (PROD)
        run: |
          kubectl set image deployment/frontend-deployment frontend=karanam08/frontend:prod -n prod

      - name: Verify rollout
        run: |
          kubectl rollout status deployment/frontend-deployment -n prod
