name: Frontend CI - QA

on:
  push:
    branches: [ "qa" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Frontend Image (QA)
      run: |
        docker build -t karanam08/frontend:qa .
        docker push karanam08/frontend:qa
